<div class="row">
    <div class="col-xs-12">
        <input type="text" class="form-control" ng-model="search" placeholder="search" />
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table">
            <tbody>
                <tr ng-repeat="game in games | filter: { name: search, status: 'lobby' } ">
                    <td>{{ game.id }}</td>
                    <td>
                        <a class="btn btn-success" ng-click="joinGame(game)">join</a>
                    </td>
                </tr>
                <tr ng-if="games.length == 0">
                    <td colspan="2" class="text-center">
                        No games found
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-center">
        <a class="btn btn-default" ng-click="goTo('/')">back</a>
    </div>
</div>
