<div class="row">
    <div class="col-xs-12">
        <h3 class="text-center">Waiting for players</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table">
            <tbody>
                <tr ng-repeat="player in players">
                    <td>{{ player.ownId }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row" ng-if="ownGame">
    <div class="col-xs-12 text-center">
        <a class="btn btn-success" ng-click="startGame()" ng-disabled="players.length < 2">start game</a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-center">
        <a class="btn btn-default" ng-click="goTo('/')">back</a>
    </div>
</div>
